[global_config]
  enabled_plugins = TerminatorThemes, APTURLHandler, LaunchpadCodeURLHandler, LaunchpadBugURLHandler
  tab_position = bottom
  title_inactive_bg_color = "#1c232b"
  title_inactive_fg_color = "#888a85"
  title_receive_bg_color = "#2e3436"
  title_transmit_bg_color = "#1c232b"
  title_transmit_fg_color = "#98971a"
[keybindings]
  go_down = <Alt>k
  go_left = <Alt>h
  go_right = <Alt>l
  go_up = <Alt>k
[layouts]
  [[default]]
    [[[child0]]]
      fullscreen = False
      last_active_term = 345ec937-9e39-4600-bd12-1992f2ee6281
      last_active_window = False
      maximised = False
      order = 0
      parent = ""
      size = 1585, 677
      title = fish /home/kkolivas
      type = Window
[plugins]
[profiles]
  [[default]]
    background_color = "#1c232b"
    background_darkness = 0.92
    background_type = transparent
    cursor_color = "#aaaaaa"
    foreground_color = "#ebdbb2"
    palette = "#282828:#cc241d:#98971a:#d79921:#458588:#b16286:#689d6a:#a89984:#928374:#fb4934:#b8bb26:#fabd2f:#83a598:#d3869b:#8ec07c:#ebdbb2"
    scrollback_lines = 2500
    show_titlebar = False
  [[AtomOneLight]]
    background_color = "#f9f9f9"
    background_darkness = 0.95
    background_type = transparent
    cursor_color = "#bbbbbb"
    cursor_shape = ibeam
    font = Monaco 11
    foreground_color = "#2a2c33"
    icon_bell = False
    palette = "#000000:#de3e35:#3f953a:#d2b67c:#2f5af3:#950095:#3f953a:#bbbbbb:#000000:#de3e35:#3f953a:#d2b67c:#2f5af3:#a00095:#3f953a:#ffffff"
    scrollback_lines = 2500
    scrollbar_position = hidden
    show_titlebar = False
    use_system_font = False
  [[One dark]]
    background_color = "#1e2127"
    background_darkness = 0.96
    background_type = transparent
    cursor_color = "#676c76"
    cursor_shape = ibeam
    font = Monaco 12
    foreground_color = "#5c6370"
    palette = "#000000:#e06c75:#98c379:#d19a66:#61afef:#c678dd:#56b6c2:#abb2bf:#5c6370:#e06c75:#98c379:#d19a66:#61afef:#c678dd:#56b6c2:#fffefe"
    scrollback_lines = 2500
    show_titlebar = False
    use_system_font = False
